body {
    margin: 0px;
    padding: 0px;
}
    
#info {
    width: 400px;
    height: 300px;
    background-image: url(img/bg2.jpg);
    position: absolute;
    left: 580px;
    top: 200px;
    padding:10px;
    color: white;
    text-align: center;
    border: 5px solid #676767;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Walter Turncoat', cursive;
}

#info img {
    width: 20px;
    height: 20px;
}

#info input {
    width: 80px;
    height: 40px;
    background: white;
    font-family: 'Walter Turncoat', cursive;
    border: 1px solid #676767;
    border-radius: 5px;
    margin: 30px 20px;
    cursor: pointer;
}

#info input:hover {
    opacity: 0.8;
    border: 1px solid #676767;
    border-radius: 2px;
}

#divMap {
    position: absolute;
    background-image: url(img/bg2.jpg);
    border: 5px solid #676767;
    width: 520px;
    height: 520px;
}

.brick {
    background: url(img/wall1.png);
}

#itank {
    position: absolute;
    width: 45px;
    height: 45px;

}